Package: easy-print
Version: 1.0.1
Section: utils
Priority: optional
Architecture: amd64
Depends: libxcb-cursor0
Maintainer: Guilherme Jenner <guilhermejenner10@gmail.com>
Description: Wayland-optimized screenshot utility with native editing
 EasyPrint is a fast, background-running screen capture tool designed
 specifically for modern Linux desktop environments using Wayland.
 It features a native IPC daemon, transparent overlays, and a built-in
 vector engine for real-time annotations.
